.chatBubbleContainer {
  margin: 2rem auto 2rem auto;

  display: flex;
  justify-content: center;
  gap: 1rem;
}

.imgContainer {
  background-color: hotpink;
  border-radius: 50%;

  height: 5rem;
  width: 5rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.messageContainer {
  background: linear-gradient(white, skyblue);
  border: 2px solid dodgerblue;
  border-radius: 1rem;

  padding: 1rem 2rem;

  display: flex;
  align-items: center;
}

.messageContainerSelf {
  background: linear-gradient(white, lightgrey);
  border-color: lightgrey;
}
